html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1920px;
  font-family: "Noto Sans", serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (max-width: 1400px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.title {
  font-family: "Bebas Neue";
  color: #292D33;
  font-size: 60px;
  font-size: clamp(40px, 10vw, 60px);
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 50px;
}

.subtitle {
  color: #292D33;
  font-family: "Noto Sans";
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .subtitle {
    line-height: 26px;
  }
}

.text {
  color: #828A99;
  font-size: clamp(14px, 1vw, 16px);
  line-height: 25px;
}

.big-line {
  background-color: #5C8EE5;
  width: 150px;
  height: 2px;
  margin-bottom: 30px;
}

.wrapper-link {
  display: flex;
  align-items: center;
}
.wrapper-link__little-line {
  width: 40px;
  height: 1px;
  background-color: #5C8EE5;
  margin-right: 20px;
}
.wrapper-link__link {
  color: #5C8EE5;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.eot");
  src: url("../fonts/NotoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans.woff") format("woff"), url("../fonts/NotoSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans-Bold";
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Thin.eot");
  src: url("../fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  color: #FFFFFF;
}

.logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
@media screen and (max-width: 1750px) {
  .logo {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 1400px) {
  .logo {
    padding: 10px 15px;
    border: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 34px 50px;
}
.navigation__link:hover {
  color: #5C8EE5;
}
@media screen and (max-width: 1400px) {
  .navigation {
    display: none;
  }
}

.contact {
  display: flex;
}
.contact__img {
  width: 24px;
}
.contact__phone {
  padding: 34px 50px 34px 10px;
  color: #FFFFFF;
}
.contact__advice {
  padding: 34px 50px;
  background-color: #5C8EE5;
  color: #FFFFFF;
  border: 0;
  font-family: "Noto Sans", serif;
  font-size: 16px;
  line-height: 25px;
}
@media screen and (max-width: 1400px) {
  .contact {
    display: none;
  }
}

.burger {
  display: none;
}
@media screen and (max-width: 1400px) {
  .burger {
    display: block;
    width: 80px;
    height: 68px;
    padding: 22px 28px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    cursor: pointer;
  }
}
.burger__buttom {
  padding: 22px 28px;
}

.header-button {
  display: none;
}
@media screen and (max-width: 1400px) {
  .header-button {
    display: block;
    cursor: pointer;
    background-color: #5C8EE5;
    padding: 22px 28px;
    width: 80px;
    height: 68px;
  }
}

.main {
  background-image: url(/images/main/main-bg.png);
  background-repeat: no-repeat;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrapper__big-line {
  margin: 152px 0 30px 0;
}
@media screen and (max-width: 600px) {
  .main-wrapper__big-line {
    margin: 50px 0 20px 0;
  }
}
.main-wrapper__title {
  max-width: 1080px;
  font-weight: 600;
  font-size: clamp(48px, 10vw, 80px);
  font-family: "Bebas Neue";
  line-height: 96px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .main-wrapper__title {
    line-height: 58px;
    margin-top: 50px;
  }
}
.main-wrapper__text {
  max-width: 720px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.main-wrapper__btn {
  max-width: 313px;
  color: #FFFFFF;
  background-color: #5C8EE5;
  padding: 25px 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 425px) {
  .main-wrapper__btn {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.advantage {
  padding: 30px 50px;
  border: 0.5px rgba(235, 235, 240, 0.2) solid;
}
@media screen and (max-width: 1300px) {
  .advantage {
    height: 12vh;
  }
}
@media screen and (max-width: 600px) {
  .advantage {
    padding: 30px;
  }
}
.advantage__text {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.job {
  margin-top: 150px;
}
@media screen and (max-width: 600px) {
  .job {
    margin-top: 100px;
  }
}

.job-container {
  display: flex;
  flex-direction: column;
}

.cards-wrapper__number {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.cards-wrapper__text {
  margin-bottom: 20px;
  margin-right: 30px;
}

.num {
  font-size: 48px;
  color: #5C8EE5;
  line-height: 58px;
}

.grey-line {
  background-color: #EBEBF0;
  width: 260px;
  height: 1px;
  margin-left: 30px;
}

.request {
  display: flex;
  align-items: center;
}

.manufacture {
  margin-top: 150px;
}

.manufacture-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1440px) {
  .manufacture-wrapper {
    justify-content: center;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 480px;
  height: 593px;
  border: 1px solid #EBEBF0;
}
.card-wrapper:hover {
  border: 1px solid #5C8EE5;
}

.card {
  margin-left: 50px;
  margin-right: 90px;
}
.card__subtitle:hover {
  color: #5C8EE5;
}

.brand {
  margin-top: 150px;
}

.wrapper-items {
  display: flex;
  border: 1px solid #EBEBF0;
}
@media screen and (max-width: 1300px) {
  .wrapper-items {
    flex-wrap: wrap;
  }
}

.brand-items {
  display: flex;
  gap: 50px;
  padding: 50px;
  border: 1px solid #EBEBF0;
}

.relationship {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 120px;
}
@media screen and (max-width: 1750px) {
  .relationship {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .relationship__img {
    width: 100vh;
  }
}

.wrapper-relationship {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
@media screen and (max-width: 1750px) {
  .wrapper-relationship {
    padding: 15px 50px;
  }
}
.wrapper-relationship__title {
  margin-bottom: 10px;
}
.wrapper-relationship__text {
  margin-bottom: 30px;
}

.production {
  margin-top: 150px;
  display: flex;
}
@media screen and (max-width: 1440px) {
  .production {
    justify-content: center;
  }
}

.production-title {
  margin-bottom: 38px;
  max-width: 700px;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.items-wrapper__items1, .items-wrapper__items2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  gap: 20px;
}
.item__text {
  color: #292D33;
  margin-bottom: 0px;
}

.feedback {
  margin-top: 150px;
  background-color: #F0F2F5;
}
.feedback__spray {
  position: absolute;
}
@media screen and (max-width: 1600px) {
  .feedback__spray {
    display: none;
  }
}

.background-white {
  height: 74px;
  background-color: #fff;
}

.feedback-container {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1600px) {
  .feedback-container {
    justify-content: center;
  }
}

.wrapper-feedback {
  max-width: 840px;
  margin: 100px 0;
}
.wrapper-feedback__title {
  margin-bottom: 35px;
}
.wrapper-feedback__text {
  margin-bottom: 50px;
}
.wrapper-feedback__input {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.wrapper-feedback__button {
  display: flex;
  align-items: center;
}

.input-text {
  width: 405px;
  font-size: 16px;
  border: 1px solid #E4E4EB;
  padding: 20px 30px;
  background-color: #F0F2F5;
}

.wrapper-input {
  position: relative;
}

.input-phone__number {
  width: 405px;
  border: 1px solid #5C8EE5;
  padding: 20px 30px;
  background-color: #F0F2F5;
}
.input-phone__text {
  padding: 0 10px;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  top: -8px;
  left: 20px;
  background-color: #F0F2F5;
}

.feedback-button {
  background-color: #5C8EE5;
  color: #fff;
  padding: 20px 50px;
  border: 0;
}
.feedback-button__text {
  font-size: 12px;
  line-height: 20px;
}

.footer-contact {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer-contact__logo {
  margin-right: 160px;
}
.footer-contact__phone {
  margin-right: 82px;
  font-size: 32px;
  color: #292D33;
}
.footer-contact__adress {
  display: flex;
  align-items: center;
  margin-right: 36px;
  gap: 10px;
}
.footer-contact__email {
  display: flex;
  align-items: center;
  margin-right: 57px;
  gap: 10px;
}

.vk {
  margin-right: 15px;
}

.line {
  border: 1px solid #EBEBF0;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.footer-navigation__manufacture {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-subtitle {
  margin-bottom: 30px;
}

.rights {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.rights__politic {
  display: flex;
  gap: 60px;
}
.rights__made-in {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */