.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.logo {
  padding: 25px 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 34px 50px;

  &__link {

    &:hover {
      color: #5C8EE5;
    }
  }
}

.contact {
  display: flex;

  &__img {
    width: 24px;
  }

  &__phone {
    padding: 34px 50px 34px 10px;
  }

  &__advice {
    padding: 34px 50px;
    background-color: #5C8EE5;
    color: #FFFFFF;
    border: 0;
    font-family: 'Noto Sans', serif;
    font-size: 16px;
    line-height: 25px;
  }
}