.job {
  margin-top: 150px;

  @media  screen and (max-width: 600px) {
  margin-top: 100px;
  }
}

.job-container {
  display: flex;
  flex-direction: column;

}

.cards-wrapper {

  &__number {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 20px;
    margin-right: 30px;
  }
}

.num {
  font-size: 48px;
  color: #5C8EE5;
  line-height: 58px;
}

.grey-line {
  background-color: #EBEBF0;
  width: 260px;
  height: 1px;
  margin-left: 30px;
}


.request {
  display: flex;
  align-items: center;
}