.brand {
  margin-top: 150px;
}

.wrapper-items {
  display: flex;
  border: 1px solid #EBEBF0;

  @media  screen and (max-width: 1300px) {
    flex-wrap: wrap;
  }
}

.brand-items {

  display: flex;
  gap: 50px;
  padding: 50px;
  border: 1px solid #EBEBF0;
}